body {
    height: 100%;
    width: 100%;
    margin: 0;
  
}

#container {
    top: 49px;
    position: relative;
    height: 500px;
    width: 90%;
    border: 2px solid #141517;
    background: url('bgclear.png');
    margin-left: 4%;
    overflow: hidden;
}

#bird {
    position: absolute;
    background: url('newflappy.gif');
    height: 42px;
    width: 65px;
    background-size: contain;
    background-repeat: no-repeat;
    top: 20%;
    left: 15%;
}

.pole {
    position: absolute;    
    width: 50px;
    right: -50px;
}

.nextpole {
    position: absolute;    
    width: 50px;
    right: -50px;
}

#pole_1 {
    top: -80px;
    background: url('pole11.png');
    height: 260px;
}

#pole_2 {
    bottom: 0;
    background: url('secondpole.png');
    height: 180px;
}

#pole_3 {
    top: -80px;
    background: url('pole11.png');
    height: 260px;
}

#pole_4 {
    bottom: 0;
    background: url('secondpole.png');
    height: 180px;
}

#score_div {
    text-align: center;
    font-size: 40px;
}

#container_restart {
    position: relative;
    height: 188px;
    width: 34%;
    border: 2px solid #27421a;
    background: #F0FFFF;
    margin-left: 32%;
    margin-top: 12%;
    overflow: hidden;
    display: none;
}

#restart_btn {
    position: absolute;
    top: 51%;
    width: 48%;
    padding: 12px;
    background-color: #00ff37;
    color: white;
    font-size: 33px;
    border: none;
    cursor: pointer;
    margin-left: 105px;
}

#finaltext {
    position: absolute;
    font-family: "Courier New", Courier, monospace;
    color: red;
    font-weight: bold;
    font-size: 40px;
    margin-left: 95px;
    top: 10%;
}

#scorepannel {  
    position: relative;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    color: #801a00;
    float: left;
    font-size: 40px;
    margin-left: 254px;
    top: 25px;
    
}

#speedpannel {  
    position: relative;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    color: #801a00;
    float: right;
    font-size: 40px; 
    top: 25px;
    margin-right: 265px;
}

#score {
   font-weight: bold; 
   color: #ff3300!important;
}

#speed {
   font-weight: bold; 
   color: #ff3300!important;
}

#ext {
    font-weight: normal!important;
}


